<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.rackspacecloud.android"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/rackspace60" android:label="@string/app_name">
        <activity android:name=".RackspaceCloudActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TabViewActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.APPLICATION"/>
            </intent-filter>
        </activity>

        <activity android:name=".ListServersActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.APPLICATION"/>
            </intent-filter>
        </activity>

        <activity android:name=".AddServerActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.APPLICATION"/>
            </intent-filter>
        </activity>
        <activity android:name=".AddContainerActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.APPLICATION"/>
            </intent-filter>
        </activity>

        <activity android:name=".ViewServerActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.APPLICATION"/>
            </intent-filter>
        </activity>
 <activity android:name=".ViewServerActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.APPLICATION"/>
            </intent-filter>
        </activity>
         <activity android:name=".ContainerObjectsActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.APPLICATION"/>
            </intent-filter>
        </activity>
<activity android:name=".ListContainerActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.APPLICATION"/>
            </intent-filter>
        </activity>
        <activity android:name=".ContainerObjectDetails" android:label="@string/app_name">
        	<intent-filter>
        	 <action android:name="android.intent.action.MAIN"/>
        	 <category android:name="android.intent.category.APPLICATION"/>
        	</intent-filter>
        </activity>
                
        <activity android:name=".EnableCDNActivity" android:label="@string/app_name">
        	<intent-filter>
        	 <action android:name="android.intent.action.MAIN"/>
        	 <category android:name="android.intent.category.APPLICATION"/>
        	</intent-filter>
        </activity>
        

    </application>
    <uses-sdk android:minSdkVersion="4" />

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 